{% extends 'logdapp/base.html' %}

{% block content %}
<table style="width:70%">
   
    <tr>
      <th>Course</th> 
      <th>Roll Number</th>
      <th>Professor</th>
      <th>Grade</th>
    </tr>
    {% for d in data %} 
      <tr>
      {% comment %} {% for dd in d %} {% endcomment %}
      <td>{{d.0}}</td> 
      <td>{{d.1}}</td> 
      <td>{{d.2}}</td> 
      {% if d.4 == 1 %} 
        <td style="color: green;"> {{d.3}}</td>
      {%endif%}
      {% if d.4 == 0 %}
        <td style="color: red;"> {{d.3}}</td>
      {%endif%}
      {% comment %} {% endfor%} {% endcomment %}
      {% comment %} {% if valid[d]==1 %} 
        <td style="color: green;"> {{d[-1]}}</td>
      {%endif%}
      {% if valid[d]==0 %}
        <td style="color: red;"> {{d[-1]}}</td>
      {%endif%} {% endcomment %}
      </tr>
    {% endfor%}
  </table>
  {%if form%}
  <h1>Contact</h1>
  <form role="form" action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Submit</button>
  </form>
  {%endif%}

{% endblock %}